* {
  box-sizing: border-box;
}

@media(max-width: 1024px) {
  html {
    font-size: 20px;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 12px;
  }
}

/* Style for main section of the app. */
.App {
  /* height: 100vh; */
  background: #fff;
  display: flex;
  flex-direction: column;
  color: #000;
  align-items: center;
}

/* for pages with left-aligned content rather than center*/
.App-left {
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 0rem 15rem 0rem 15rem;
}

.head {
  padding: 0.5rem 0.5rem 0.5rem 16rem;
  background-color: #fff;
}

.tabs {
  background-color: #3576CB;
  display: flex;
  flex-direction: row;
  padding: 0rem 0rem 0rem 15rem;
}

.navButton {
  padding: 0.8rem 1.2rem 0.8rem 1.2rem !important;
}

.navButtonSelected {
  background-color: blue; 
}

.health-chart{
  margin-top: 0rem;
}

.title {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
}

.nutrioHead {
  color: #1a1b1f;
}

.health-index {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

.Food {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.Button {
  color: red;
}

.spacer {
  height: 1rem;
}