/* splitting stylesheet for nutrition labels */

.legend1 {
  width: 1rem;
  height: 1rem;
  background-color: red;
  opacity: 0.75;
  border-radius: 100%;
  margin-right: 0.5rem;
  }
  
.legend2 {
  width: 1rem;
  height: 1rem;
  background-color: green;
  opacity: 0.75;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.legend3 {
  width: 1rem;
  height: 1rem;
  background-color: orange;
  opacity: 0.75;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.legend4 {
  width: 1rem;
  height: 1rem;
  background-color: royalBlue;
  border-radius: 100%;
  margin-right: 0.5rem;
}